<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../pw-todo-form/pw-todo-form.html">
<link rel="import" href="../pw-todo-list/pw-todo-list.html">

<dom-module id="pw-todo">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h1>[[title]]</h1>
    <pw-todo-form on-pw-new-item="_newItemHandler"></pw-todo-form>
    <pw-todo-list 
      on-pw-todo-item-deleted="_deleteItemHandler" items="[[items]]"
      on-pw-todo-item-edit="_editItemHandler">
    </pw-todo-list>

    <!-- <pw-todo-list items="[[items]]"></pw-todo-list> -->
  </template>

  <script>
    /**
     * `pw-todo`
     * elemeto que contiene todo
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class PwTodo extends Polymer.Element {
      static get is() { return 'pw-todo'; }
      static get properties() {
        return {
          items: {
            type: Array
          },
          title:{
            type: String,
            reflectToAttribute: true
          }
        };
      }

      _newItemHandler(e){
        // this.items.push({value: e.detail, done:false}); es con java script pero debe hacerse con polymer
        //Viene en el examen los metodos this.push this.slide de un arreglo
        this.push('items', {value: e.detail, done:false});
      }

      _deleteItemHandler(e){
        console.log(e.detail);
        const index = this.items.findIndex(function(currentItem){
          return currentItem.value === e.detail;
        }); //elimina el primero que coincida
        this.splice('items', index,1);
      }

      _editItemHandler(e){
        // console.log(e);
        const newItems = this.items.map(function(item){
          if (item.value===e.detail.prevValue) {
            return {value: e.detail.newValue, done:item.done};
          }
          return { ...item}; // ... significa que hace merge 
          //objeto de propagación, es la manera perfecta de combinar dos objetos simples en uno
          //crear un nuevo objeto que combine las propiedades 
        });
        this.items = newItems;
      }


    }

    window.customElements.define(PwTodo.is, PwTodo);
  </script>
</dom-module>
